<h2>Ideas</h2>
  <% unless @escapades.where(status: "idea").first %>
    <h3>There are no idea listings at present</h3>
  <% end %>
  <% @escapades.each do |escapade| %>
    <% if escapade.status == "idea" %>
      <%= render partial: 'thumbnail', locals: {escapade: escapade} %>
    <% end %>
  <% end %>
<h2>Events</h2>
  <% unless @escapades.where(status: "event").first %>
    <h3>There are no event listings at present</h3>
  <% end %>
  <% @escapades.each do |escapade| %>
    <% if escapade.status == "event" %>
      <%= render partial: 'thumbnail', locals: {escapade: escapade} %>
      </div>
    <% end %>
  <% end %>
